.container {
	border: 1px black solid;
	margin: 0, auto;
	width: 40%;
	padding: 10px;
	padding-left: 20px;
}
.container2 {
	border: 1px black solid;
	margin: 0, auto;
	width: 60%;
	padding: 10px;
	padding-left: 20px;
	margin-top: 20px;
	margin-left: 30px;
}