<div class="container2">
<form action='/questions/new' method='POST'>
	<input type='text' name='question' placeholder='Question'>
	<input type='submit' value='Submit'>
</form>
<%= erb :_choice %>
<%= erb :_choice %>
<%= erb :_choice %>
<%= erb :_choice %>
</div>