<div class="question-container">
	<input type='text' name='question' placeholder='Question'>
	<div class="choice_partials_appended_here">
	<%= erb :_choice %>
	<%= erb :_choice %>
	<br>
	<button id="add_choice_button">Add another choice</button>
	</div>
</div>