 
<div class="container">
<form action='/surveys/new' method='POST'>
	<p>Create a new Survey here!</p>
	<input type='text' name='title' placeholder='Title'>
	
	<div class="question_partial_target">
		<p>Going to try and make partial appear here</p>
	</div>

<input type='submit' value='Submit'>
</form>
<br>
<button id="add_question_button">add a question</button>
</div>