
<div class="container">
<form action='/surveys/new' method='POST'>
	<p>Create a new Survey here!</p>
	<input type='text' name='survey[title]' placeholder='Title'>
	<input type='submit' value='Submit'>
</form>
</div>