


<h1>Welcome to Gorilla Surveys</h1>
<h2>Here are all the surveys</h2>

<% if @surveys %>
<% @surveys.each do |survey| %>
	<p><a href=""><%= survey.title %></a></p>
<% end %>
<% end %>

<button id="add_survey_button">Create a new survey</button>

