


<h1>Welcome to Gorilla Surveys</h1>
<h2>Here are all the surveys</h2>

<% if @surveys %>
<% @surveys.each do |survey| %>
	<p> <a href=<%="/surveys/#{survey.id}"%>> <%= survey.title %></a></p>
  <form action=<%="/surveys/#{survey.id}/view_results"%>>
    <input type="submit" value="button" >
  </form>
<% end %>
<% end %>
<form>
	<input type="submit" formaction="/surveys/new">
<!-- <button type ="submit" formaction="/surveys/new">Create a new survey</button> -->
</form>
