<div class="survey-container">
<form action='/surveys/new' method='POST'>
	<p>Create a new Survey here!</p>
	<input type='string' name='title' placeholder='Title'>
	
	<div class="question-container">
	<input type='text' name='question[1]' placeholder='Question'>
	<div class="choice_partials_appended_here">
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	</div>
	</div>

	<div class="question-container">
	<input type='text' name='question' placeholder='Question'>
	<div class="choice_partials_appended_here">
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	</div>
	</div>

	<div class="question-container">
	<input type='text' name='question' placeholder='Question'>
	<div class="choice_partials_appended_here">
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	</div>
	</div>

	<div class="question-container">
	<input type='text' name='question' placeholder='Question'>
	<div class="choice_partials_appended_here">
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	<input type='text' name='choice' placeholder='Choice'>
	</div>
	</div>

<input type='submit' value='Submit'>
</form>
<br>
<button id="add_question_button">add a question</button>
</div>