Where they take the survey

<h1>Survey</h1>
<h2>Fill out the forms below</h2>

<form action='/surveys/new' method='POST'>
<h3> <%= @survey.title %> </h3>
<% @questions.each do |question| %>
  <h4> <%= question.question %> </h4>
    <% question.choices.each do |choice| %>
      <input type="checkbox" name="choice1" value="choice1"><%= choice.content %></input><br>
    <% end %>
  <% end %>


  <input type='submit' value='Submit'>
</form>
